@model CashMachine.Web.Models.CardNumberViewModel

@{
    ViewBag.Title = "Index";
}

@*<script>
    var $size = 16;
    $('.number').click($inputForKeys($('#CardNumber'), $size)
    );
</script>*@
<h2>Введите номер карточки</h2>
<div class="col-sm-4">
    <div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.EditorFor(m => m.CardNumber, new { htmlAttributes = new { @class = "form-control", @style = "width:1000px", @readonly = "true" } })
           
            <div class="col-sm-4 btn number" value="1">1</div>
            <div class="col-sm-4 btn number" value="2">2</div>
            <div class="col-sm-4 btn number" value="3">3</div>
            <div class="col-sm-4 btn number" value="4">4</div>
            <div class="col-sm-4 btn number" value="5">5</div>
            <div class="col-sm-4 btn number" value="6">6</div>
            <div class="col-sm-4 btn number" value="7">7</div>
            <div class="col-sm-4 btn number" value="8">8</div>
            <div class="col-sm-4 btn number" value="9">9</div>
            <div class="col-sm-4 btn reset">Очистить</div>
            <div class="col-sm-4 btn number" value="0">0</div>
            <input type="submit" value="OK" class="btn col-sm-4"/>
            
        }
    </div>


</div>

<script>
    $('.number').click(function () {
        var $input = $('#CardNumber');
        if ($input.val().length < 16) {
            $input.val($input.val() + $(this).attr('value'));
        }
    });
    $('.reset').click(function () {
        console.log("asd");
        var $input = $('#CardNumber');
        $input.val("");
    });
</script>
