@model CashMachine.Web.Models.AccountViewModel

@{
    ViewBag.Title = "WithdrawMoney";
}

<h2>Снятие денег</h2>
<div class="col-sm-4">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.EditorFor(m => m.Money, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            <div class="col-sm-4 btn js-input-number" value="1">1</div>
            <div class="col-sm-4 btn js-input-number" value="2">2</div>
            <div class="col-sm-4 btn js-input-number" value="3">3</div>
            <div class="col-sm-4 btn js-input-number" value="4">4</div>
            <div class="col-sm-4 btn js-input-number" value="5">5</div>
            <div class="col-sm-4 btn js-input-number" value="6">6</div>
            <div class="col-sm-4 btn js-input-number" value="7">7</div>
            <div class="col-sm-4 btn js-input-number" value="8">8</div>
            <div class="col-sm-4 btn js-input-number" value="9">9</div>
            <div class="col-sm-4 btn " onclick="reset($('#Money'));">Очистить</div>
            <div class="col-sm-4 btn js-input-number" value="0">0</div>
            <input type="submit" value="OK" class="btn col-sm-4" />
        }
    </div>
    <div>
        @Html.ActionLink("Выход", "ExitAccount", "Account", null, new { @class = "btn btn-success" })
    </div>
</div>

<script>
    $('.js-input-number').click(function () {
        inputForKeys($('#Money'), $(this).attr('value'), $maxLengthForWithdrawMoney);
    });
</script>

